.table{
  width: auto;
  margin: auto;
  background: skyblue;
}
.cell{
  height:100px;
  width:100px;
  background-color: azure;
  margin: auto;
  background-size: contain;
}
.cell-x{
  background-image:url(../images/cross.png);
}
.cell-o{
  background-image:url(../images/circle.png);
}
.cell:hover{
  cursor: pointer;
  border:1px solid darkgoldenrod;
}
.text-center{
  font-size: 1.2rem;
  font-weight: bold;
  color: skyblue;
}
.active-player{
  color: green;
}
.winner-cell{
  background-color: green;
}